
@{
    ViewData["Title"] = "Giriş Yap";
}

    <h2>Giriş Yap</h2> 

    <form method="post" action="/login">
     <div>
        <label>Email</label>
        <input name="email" />
    </div>
    <div>
        <label>Şifre</label>
        <input type="password" name="password" />
    </div>
    <button type="submit">Giriş Yap</button>
    <p style="color:red;">@ViewBag.Error</p>
    
    </form>

